DB_URL: "jdbc:mysql://nexthome-nexthome.l.aivencloud.com:14560/vacancy_db?sslMode=REQUIRED"
DB_USERNAME: "avnadmin"
CORS_ALLOWED_ORIGINS: "http://localhost:5173,http://localhost:4173,https://nexthome-live.github.io"
CORS_ALLOWED_METHODS: "GET,POST,PUT,DELETE,OPTIONS"
CORS_ALLOWED_HEADERS: "Content-Type,Accept,Authorization,X-Management-Token"
